@import "materialize/components/color";
/* change to primary color we want */
$primary-color: #003C4F !default;
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';
@import 'materialize';
@import 'static_pages';
@import 'home';
@import 'signup_shopper';
@import 'signup_vendor';
@import 'markets';
@import 'market';
@import 'vendors';
@import 'favorites';
@import 'dashboard';
@import 'login';

/*
*= require commontator/application
 */

html, body {

  font-family: 'Lato', sans-serif;
  font-weight: 300;

  background-color:  #003C4F;
  display: flex;
  min-height: 95vh;
  flex-direction: column;
}

.nav-logo{
  width:125px;
  margin-top: 12px;
}



h1, h2, h3, h4, h5, h6, p {
  color: white;
}

main {
    flex: 1 0 auto;
  }

.google-map {
  width:500px;
  height: 300px;
  margin-top: 10px;
}

.btn {
	margin: 10px;
}

.footer-height {
  min-height: 5vh;
}
