.home-row {
  background: url('https://res.cloudinary.com/jsfowles/image/upload/v1467844491/backgrounds/photo-1429081104093-c268ecee4b9a_zktd5s.jpg') repeat-y center bottom;
  background-size: cover;
  background-attachment:fixed;
  min-height: 80vh;

}

.home-div-vendors,
.home-div-markets{
/*  background-color: rgba(0,0,0,.4);
  margin-top: 10em;
  margin-bottom: 10em;*/
}


.home-div-markets a,
.home-div-vendors a  {
  width:100%;
  text-align: center;
}


.home-text-size {
  font-size: 72px;
}

.home-markets-link {
  margin-top: 2em;
}

.home-vendors-link {
  margin-top: 1em;
}
