.home {
  background: url('http://res.cloudinary.com/jsfowles/image/upload/v1467844491/photo-1429081104093-c268ecee4b9a_zktd5s.jpg') no-repeat;
  background-size: cover;
  background-attachment:fixed;
  height: 100vh;
}

.home-div-vendors,
.home-div-markets{
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 500px;
}


.home-div-markets a,
.home-div-vendors a  {
  width:100%;
  text-align: center;
}


.home-sign-up-button {
  background-color: #003C4F;
}

.home-markets-link,
.home-vendors-link  {

  font-size: 72px;

}
