

.home-div-markets a,
.home-div-vendors a  {
  width:100%;
  text-align: center;
}


.home-text-size {
  font-size: 72px;
}

.home-markets-link {
  margin-top: 2em;
}

.home-vendors-link {
  margin-top: 1em;
}

.home-row:after {
  content: none !important;
}

.home-img {
  width: 40%;
  height: auto;
}

.vendor-content-color {
  background-color: #1F8A70;
}

.market-content-color {
  background-color: #003C4F;
}