.market {
  background-color:  #003C4F;
  color: white;
  height: 100% !important;
  margin: 20px auto 0 auto;
}

.market-text {
  font-size: 28px;
  width: 100%;
  text-align: center;
}

.market-image {
  background: url('http://res.cloudinary.com/jsfowles/image/upload/v1467844491/backgrounds/photo-1429081104093-c268ecee4b9a_zktd5s.jpg') no-repeat center center;
  background-size: cover;
  max-width: 500px;
  height: 100px;
  margin:0 !important;
  text-align: center;
  border-radius: 3px;
  padding-top: 30px;
}

.market-margin {
  margin: 0;
}

.market-address {
  line-height: 5px;

}

.market-extras {
  line-height: 5px;
}

.market-extras span {
    vertical-align: super;
}

.market-div-map-title {
  margin: 0 auto;
}

.market-div-props{
margin-top: 5px;
  background-color: rgba(255,255,255,.05);
  border-radius: 3px;
  max-width: 500px;

}
