.signup {
  background: url('http://res.cloudinary.com/jsfowles/image/upload/v1467858908/backgrounds/photo-1447624799968-c704f86dc931.jpg') no-repeat;
  background-size: cover;
  background-attachment:fixed;
  height: 100vh;
}

.signup-div {
  background-color: rgba(0,0,0,.4);
  width: 500px;
  height: 400px;
}
.signup-form-div {
  width: 90%;
  height: 90%;
}

.signup-title {
  color: white;
}
