/* putting the numbers next to the li */
ol {
	list-style-position:inside;
}

/* header */
.about-title {
	font-size: 30px;
}

.team-margin {
	margin-bottom: 30px;
}

/* enlarging all the p tags */


/* Background color for Our Development Story */
.story-color {

}

/* Github picture with the repo link */
.git-hub-link {
	width: 170px;
	height: auto;
}

.profile-picture {
	width: 300px;
	height: auto;
	border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* linkedin logo resized and rounded */
.linkedin-icon {
	width: 80px;
	height: auto;
	border-radius: 30%;
	margin-left: 20px;
}

.self-github {
	width: 100px;
	height: auto;
}
/* The team */
.dream-team {
	background-color: #1F8A70;
}

/* Text Color */
.section {
	color: white;
}

.parallax-container {
	position: relative;
  height: 650px;
  z-index: 100;
}

.about-bottom-margin {
	margin-bottom: 30px;
}

/*.img-holder {position: relative;}*/
.img-holder .link {
  position: absolute;
  left: 43%; /*your button position*/
  top: 45%; /*your button position*/
  z-index: 95;
}
